[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rtrim"]
	path = rtrim
	url = https://github.com/snstatcomp/rtrim
	subdir = pkg
